.section {
  height: 50px;
  border-bottom: 1px solid #DCE1EB;
  padding: 0 12px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  .title {
    margin-right: 10px;
  }
  picker {
     width: 240px;
  }
  .add-category {
    font-weight: normal;
  }
}

.picker-section {
  picker {
    width: 100%;
  }
}

.submitData {
  margin-top: 36.5px;
  width: 238px;
  height: 40px;
  border-radius: 17.5px;
  background-color: #4083FF;
  font-size: 18px;
  color: #FFFFFF;
}
