.container {
  padding-top: 40px;
}

.cost-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .cost-card {
    width: 100%;
    background: #FFFFFF;
    border-top: 1px solid #E6E6E6;
    padding: 15px 15px 5px;
    box-sizing: border-box;
    .line {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      .title {
        color: #333333;
      }
      text {
        font-size: 15px;
      }
    }
  }
}

.select-area {
  width: 100%;
  height: 40px;
  padding: 0 11px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  .time-select-area {
    font-size: 15px;
    color: #999999;
    display: flex;
    .start-time {
      color: #5383F6;
      padding-right: 10px;
      min-width: 100px;
      text-align: center;
    }
    .end-time {
      color: #5383F6;
      padding-left: 10px;
      min-width: 100px;
      text-align: center;
    }
  }
  .category-select-area {
    font-size: 15px;
    display: flex;
    text {
      color: #5383F6;
    }
  }
}
